.form{
    background-color: white;
    border: lightgrey 1px solid;
}

.form__label{
    display: flex;
    flex-wrap: wrap;
}

.form__header{
    background-color: white;
    margin: 0;
    padding: 15px;
    font-weight: bold;
    border-bottom: lightgrey 2px solid;
    flex-basis: 100%;
    flex-grow: 1;
}

.form__input{
    padding: 5px 20px;
    margin: 20px 15px;
    flex-grow: 1;
}

.form__button{
    width: auto;
    padding: 10px;
    margin: 20px 15px;
    background-color: teal;
    color: white;
    border: none;
    flex-grow: 0;
    transition: 1s;
}

.form__button:hover{
    background-color: hsl(180, 100%, 35%);
    transform: scale(1.1);
    cursor: pointer;
}

.form__button:active{
    background-color: hsl(180, 100%, 45%);
}

@media (max-width: 767px){
    .form__input{
        margin: 10px 15px;
    }

    .form__button{
        flex-grow: 1;
        margin: 10px 15px;
    }
}